<template>
  <div>
    <Header/>
    <LoremIpsum/>
    <div class="ui container divider"></div>
    <Comments/>
    <PostCommentBox/>
  </div>
</template>

<script>
import Comments from './components/Comments.vue'
import Header from './components/Header.vue'
import LoremIpsum from './components/LoremIpsum.vue'
import PostCommentBox from './components/PostCommentBox.vue'

export default {
  components: {
    Comments,
    Header,
    LoremIpsum,
    PostCommentBox
  }
}
</script>
