<template>
  <section class="ui container">
    <div class="ui comments">
      <p v-if="comments.length === 0">Be the first to reply</p>
      <div class="comment" v-for="comment in comments" v-bind:key="comment.id">
        <a class="avatar">
          <i class="user circle icon big"></i>
        </a>
        <div class="content">
          <span class="author">Guest</span>
          <div class="metadata">
            <div class="date">{{ getUTCDateString(comment.inserted_at) }}</div>
          </div>
          <div class="text">
            {{ comment.comment }}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';
  import PubSub from 'pubsub-js';

  export default {
    created () {
      PubSub.subscribe('PostCommentsBox.commentAdded', () => this.getComments());
      return this.getComments();
    },
    data () {
      return {
        comments: []
      }
    },
    methods: {
      getComments: function () {
        return axios.get('/comments')
          .then(response => {
            this.comments = response.data;
          });
          // TODO Add user-visible error message
      },

      // The original format returned is missing the timezone indicator
      getUTCDateString (dateString) {
        const UTCDate = new Date(`${dateString}Z`);
        return UTCDate.toLocaleString();
      }
    }
}
</script>
