<template>
  <div class="ui inverted menu">
    <div class="ui container">
      <span class="active item">
        <i class="icon home"></i>
        Home
      </span>
      <div class="right menu">
        <div class="item">
          <div class="ui icon">
            Guest
            <i class="user circle icon inverted"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
