<template>
  <article class="ui container">
    <div class="ui equal width grid">
      <div class="column">
        <img class="ui medium bordered image" src="https://loremflickr.com/320/240?1" />
      </div>
      <div class="column">
        <img class="ui medium bordered image" src="https://loremflickr.com/320/240?2" />
      </div>
      <div class="column">
        <img class="ui medium bordered image" src="https://loremflickr.com/320/240?3" />
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt urna non tortor pulvinar placerat. Morbi a arcu lorem. Duis venenatis nibh magna, ac consequat felis molestie ut. Maecenas a nulla a justo dapibus vestibulum. Integer ultricies sagittis euismod. Ut pretium neque ac aliquet bibendum. Maecenas a libero sed enim hendrerit ullamcorper. Nam est risus, malesuada condimentum semper et, dictum vel ex.</p>
    <p>Quisque suscipit finibus mi facilisis porta. Fusce nulla sapien, pharetra id tincidunt sed, molestie nec diam. Proin bibendum eros at odio pellentesque suscipit. Donec feugiat ornare gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec molestie massa. Quisque semper, lorem id aliquet euismod, nulla ligula pulvinar ligula, in venenatis lorem lacus in nulla.</p>
    <p>Praesent consequat id metus in commodo. Proin in lacus augue. Suspendisse nisl lorem, vulputate at justo ac, sollicitudin fermentum nisl. Morbi non ipsum non felis ornare faucibus eu sit amet nisl. Praesent eleifend est arcu, in facilisis purus pellentesque nec. Nulla lacinia libero vitae tempor sodales. Integer placerat libero in nisi venenatis porta. Vivamus quis elementum diam. Pellentesque eu fringilla est. Pellentesque convallis risus a turpis facilisis, vulputate imperdiet ex lobortis.</p>
    <p>Fusce urna ante, tempor tincidunt erat ornare, ultrices egestas enim. Cras id ligula commodo, tristique diam eu, vestibulum lectus. In malesuada orci neque, vel porttitor sapien lobortis ullamcorper. Mauris nec massa vestibulum odio congue mattis vitae quis sem. Aenean dictum ex dui, ac bibendum orci feugiat id. Aenean est lectus, fermentum et porta varius, accumsan nec dolor. Maecenas dapibus eget odio eu egestas.</p>
    <p>Phasellus non dapibus orci. Donec et quam venenatis, blandit nisi ac, dictum sapien. Vivamus non diam velit. Cras faucibus ullamcorper urna, nec malesuada odio gravida at. Sed sed laoreet sapien, id ornare ligula. Nam porta dui at massa vestibulum, sit amet malesuada lorem interdum. In eu molestie libero. Duis mollis leo risus, in venenatis lectus ornare quis. Morbi et neque vehicula tortor pretium vestibulum hendrerit ac velit. Nullam libero libero, malesuada sit amet tellus id, finibus ullamcorper quam. Etiam eu diam eget lectus fringilla imperdiet nec in elit. In efficitur iaculis ante, eu feugiat est porta ac. Mauris sit amet erat vitae ex dignissim efficitur eget at tortor.</p>
    <p>Sed rhoncus risus eget turpis mollis, vitae consectetur nulla blandit. Mauris finibus nunc eu purus facilisis, vitae tincidunt quam volutpat. Praesent suscipit porttitor consectetur. Sed venenatis magna id vestibulum placerat. Donec tristique sit amet sem nec vestibulum. Aliquam eget orci ante. Aliquam eu faucibus dui. Nulla at dapibus leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean tincidunt ultricies congue. Morbi cursus ultricies justo sit amet efficitur. </p>
  </article>
</template>

<style scoped>
article {
  font-size: 16px;
  margin: 35px 0px;
}

div.grid {
  margin-bottom: 25px;
}
</style>
