<template>
  <section class="ui container">
    <form class="ui reply form">
      <div class="field">
        <textarea v-model="commentText"></textarea>
      </div>
      <div class="ui blue labeled submit icon button" v-bind:class="{disabled: isEmpty}" v-on:click="submit">
        <i class="icon edit"></i> Reply
      </div>
    </form>
  </section>
</template>

<script>
  import axios from 'axios';
  import PubSub from 'pubsub-js';

  export default {
    computed: {
      isEmpty () {
        return this.commentText.length === 0;
      }
    },
    data () {
      return {
        commentText: ''
      }
    },
    methods: {
      submit: function () {
        axios.post('/comments', {
          comment: this.commentText
        })
          .then(response => {
            PubSub.publish('PostCommentsBox.commentAdded', response.data);
            this.commentText = '';
          })
          .catch(error => {
            // TODO Add user-visible error message
            console.error(error);
          })
      }
    }
}
</script>

<style scoped>
section.ui.container {
  margin-top: 25px;
}
</style>
